

<!-- Conteneur centré avec marge en haut -->
<div style="display: flex; justify-content: center; margin-top: 20px;">
  
  <!-- Carte avec padding de 20px et largeur de 400px -->
  <mat-card style="width: 400px; padding: 20px;">
    
    <!-- Titre du formulaire de connexion -->
    <h2>Connexion</h2>
    
    <!-- Formulaire de connexion avec validation -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-form-field 
        [formGroup]="loginForm"
        controlName="email" 
        label="Email" 
        type="email" 
        [required]="true"
        emailErrorMessage="Format de mail invalide.">
      </app-form-field>
    
      <app-form-field 
        [formGroup]="loginForm"
        controlName="password" 
        label="Mot de passe" 
        type="password" 
        [required]="true" 
        [minLength]="8"
        patternErrorMessage="Le mot de passe doit contenir au moins une majuscule et un caractère spécial.">
      </app-form-field>

      <!-- Affichage du message d'erreur venant du backend -->
      <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
        {{ errorMessage }}
      </div>


       <!-- Lien pour réinitialiser le mot de passe -->

      <button  class="submitButton" mat-raised-button color="primary" type="submit">Se connecter</button>
    </form>      
          <div style="margin-top: 35px;">
        <a routerLink="/auth/request-reset-password">Mot de passe oublié ?</a>
      </div> 


  </mat-card>
</div>
