<!-- Conteneur centré avec marge en haut -->
<div style="display: flex; justify-content: center; margin-top: 20px;">
  
  <!-- Carte avec padding et largeur définie -->
  <mat-card style="width: 400px; padding: 20px;">
    
    <!-- Titre du formulaire de réinitialisation du mot de passe -->
    <h2>Réinitialisation du mot de passe
      <span style="color:grey; font-size:18px; font-weight:normal">
        {{email}}
      </span>
    </h2>
    
    <!-- Formulaire de réinitialisation -->
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      
      <!-- Champ pour le nouveau mot de passe -->
      <app-form-field 
        [formGroup]="resetPasswordForm" 
        controlName="newPassword" 
        label="Nouveau mot de passe" 
        type="password" 
        [required]="true" 
        [minLength]="8" 
        patternErrorMessage="Le mot de passe doit contenir au moins une majuscule et un caractère spécial.">
      </app-form-field>

      <!-- Champ pour confirmer le mot de passe -->
      <app-form-field 
        [formGroup]="resetPasswordForm" 
        controlName="confirmPassword" 
        label="Confirmer le mot de passe" 
        type="password" 
        [required]="true">
      </app-form-field>
      
      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorMessage" style="color: red; margin-bottom: 10px;">
        {{ errorMessage }}
      </div>

      <!-- Bouton de soumission pour la réinitialisation -->
      <button mat-raised-button class="submitButton" color="primary" type="submit">
        Réinitialiser le mot de passe
      </button>
    </form>
  </mat-card>
</div>
