<!-- Conteneur centré avec marge en haut -->
<div style="display: flex; justify-content: center; margin-top: 20px;">
  <!-- Carte de 400px avec padding -->
  <mat-card style="width: 400px; padding: 20px;">
    <!-- Titre du formulaire -->
    <h2>Modification du mot de passe 
      <span style="color:grey; font-size:18px; font-weight:normal">{{localStorageData["email"]}}</span></h2>
    <!-- Formulaire avec soumission liée à onSubmit() -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      
      <!-- Champ ancien mot de passe -->
      <app-form-field 
        [formGroup]="changePasswordForm" 
        controlName="oldPassword" 
        label="Ancien mot de passe" 
        type="password" 
        [required]="true">
      </app-form-field>

      <!-- Champ nouveau mot de passe -->
      <app-form-field 
        [formGroup]="changePasswordForm" 
        controlName="newPassword" 
        label="Nouveau mot de passe" 
        type="password" 
        [required]="true" 
        [minLength]="8" 
        patternErrorMessage="Le mot de passe doit contenir au moins une majuscule et un caractère spécial.">
      </app-form-field>

      <!-- Champ confirmation mot de passe -->
      <app-form-field 
        [formGroup]="changePasswordForm" 
        controlName="confirmPassword" 
        label="Confirmer le mot de passe" 
        type="password" 
        [required]="true">
      </app-form-field>

      <!-- Affichage du message d'erreur -->
      <div *ngIf="errorMessage" style="color: red; margin-bottom: 10px;">
        {{ errorMessage }}
      </div>

      <!-- Bouton de soumission -->
      <button mat-raised-button color="primary" class="submitButton" type="submit">Changer le mot de passe</button>
    </form>
  </mat-card>
</div>
